@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(#74c69d, #2d6a4f);
  font-family: "Montserrat";
  color: white;
  text-shadow: 1px 1px 1px black;
  height: 100vh;
  user-select: none;
}

.nav {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.077);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.board {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card {
  margin: 1rem;
  background-color: rgb(95, 158, 160);
  //   padding: 2rem 1rem;
  width: 4rem;
  height: 5rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.303);
  transition: all ease 0.3s;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  z-index: 1000;
  position: relative;
  border: 1px solid white;
  &-deck {
    position: absolute;
    border: 1px solid white;
    &-bottom {
      transform: translateX(7px);
    }
    &-middle_lower {
      transform: translateX(5px);
    }
    &-middle_upper {
      transform: translateX(3px);
    }
    &-top {
      transform: translateX(1px);
    }
    // &:hover {
    //   user-select: none;
    //   transform: translateY(0);
    //   box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.255);
    //   z-index: 20;
    // }
  }
  &-stack {
    position: absolute;
  }
  &:hover {
    transform: translateY(-4px);
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.255);
    z-index: 20;
  }
  &.active {
    background-color: rgb(81, 186, 189);
    transform: translateY(-3px) scale(1.2);
  }
  img {
    width: 100%;
    height: 100%;
  }
  &-behind {
    // height: 100%;
    // width: 100%;
    // background-color: rgb(255, 255, 255);
    background-color: rgb(95, 158, 160);
    border: 1px solid white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -400;
    transform: translate(-7px, 5px);
  }
  &-container {
    position: relative;
  }
  &-hand {
    margin: -1rem;

    &_1 {
      z-index: 10;
      transform: rotate(-10deg) translateY(0.4rem);
      &:hover {
        transform: rotate(-10deg) translateY(-4px);
      }
      &.active {
        z-index: 15;
        background-color: rgb(81, 186, 189);
        transform: rotate(-10deg) translateY(-3px) scale(1.3);
      }
    }
    &_2 {
      z-index: 10;
      &:hover {
        transform: translateY(-4px);
      }
      &.active {
        z-index: 15;
        background-color: rgb(81, 186, 189);
        transform: translateY(-3px) scale(1.3);
      }
      //   transform: rotate(-10deg) translateY(0.4rem);
    }
    &_3 {
      z-index: 10;
      transform: rotate(10deg) translateY(0.4rem);
      &:hover {
        transform: rotate(10deg) translateY(-4px);
      }
      &.active {
        z-index: 15;
        background-color: rgb(81, 186, 189);
        transform: rotate(10deg) translateY(-3px) scale(1.3);
      }
    }
  }
}

.stack-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rotate {
  &-1 {
    transform: rotate(-30deg) scale(1.4);
  }
  &-2 {
    transform: rotate(10deg) scale(1.4);
  }
  &-3 {
    transform: rotate(40deg) scale(1.4);
  }
  &-4 {
    transform: rotate(-20deg) scale(1.4);
  }
}

.deck {
  background-color: rgba(137, 43, 226, 0.295);
  margin: 3rem auto;
  border: 1px solid white;
  //   height: 50%;
  padding: 3rem 2rem;
  width: 7rem;
  border-radius: 6px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.303);
  &-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.table {
  //   flex: 5;
  background-color: rgba(165, 42, 42, 0.112);
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  &-dealer {
    display: flex;
    height: 16rem;

    align-items: center;
    // justify-content: space-between;
    padding: 2rem 3rem;
  }
  &-burner {
    text-align: center;
    background-color: rgba(222, 184, 135, 0.201);
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px 0 0 10px;
  }
  &-stack {
    text-align: center;
    background-color: rgba(222, 215, 135, 0.201);
    height: 120%;
    border-radius: 10px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &-deck {
    text-align: center;
    background-color: rgba(150, 222, 135, 0.201);
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 10px 10px 0;
    position: relative;
  }
  &-cards {
    display: flex;
    justify-content: space-between;

    // padding: 3rem;
    &-player {
      flex: 1;
      display: flex;
      background-color: rgba(0, 0, 0, 0.201);
      height: 100%;
      margin: 0 4rem;
      text-align: center;
      justify-content: center;
      //   border: solid rgb(213, 213, 213) 2px;
      border-radius: 14px 14px 0 0;
    }
  }
}

.players {
  display: flex;
  flex: 1;
  text-align: center;
  //   background-color: red;
}

.player {
  flex: 1;
  border: solid rgba(137, 43, 226, 0.295) 2px;
  //   border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 3rem;
  align-items: center;
  &-title {
    background-color: rgba(255, 217, 0, 0.317);
    padding: 0.5rem;
    width: 100%;
  }
  &-hand {
    display: flex;
  }
  &-options {
    background-color: rgba(183, 250, 183, 0.317);
    padding: 0.5rem;
    width: 50%;
    margin: 0 auto;
    border-radius: 5px;
    transition: all ease 0.3s;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.303);
    user-select: none;
    &_active {
      background-color: rgba(0, 255, 0, 0.317);
      cursor: pointer;
      &:hover {
        transform: translateY(-4px);
        box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.255);
      }
      &:active {
        transform: translateY(-2px);
      }
    }
  }
}
